.host {
    display: flex;
    justify-content: flex-end;

    &__name {
        font-size: 12px;
        font-weight: 500;
        margin-right: 10px;

        /* @include media-query(m) {
            font-size: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @include media-query(l) {
            font-size: 18px;
        } */
    }

    &__name p {
        margin: 0;
        text-align: end;
    }

    &__picture {
        border-radius: 50%;
        height: 32px;
        width: 32px;

        /* @include media-query(m) {
            height: 48px;
            width: 48px;
        }

        @include media-query(l) {
            height: 64px;
            width: 64px;
        } */
    }
}