@import "./../../assets/style/variables.scss";

.about {
  &__dropdowns {
    margin: 30px auto;
    width: 80%;
    color: $color-primary;

    @media (max-width: 768px) {
        margin:5%;
        width: calc(100% - 10%)
    }
  }
}
