@import './../../assets/style/variables.scss';

.rating {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 5px;

        /* @include media-query(m) {
            height: 24px;
        }

        @include media-query(l) {
            height: 30px;
        } */
    }
}